@model QuestStore_C_of_thieves.Models.Repositories.ArtifactsRepository;
@{
    ViewBag.Title = "Booties to purchase!";
    var _activeUser = ViewData["activeUser"] as User;
}

@section searchbar{
    <form method="get" asp-controller="Artifact" asp-action="Search">
        <div class="searchbox">
            <input type="text" placeholder="&#x1F50E Search the Seven Seas for artifacts!" id="search" name="keyword">
        </div>
    </form>
}

<h1 class="display-4">Arrrrrrr!</h1>
<p>Not enough Coolcoins! Go on quest to earn some!</p>
<img src="~/img/money-loss.png" id="wrongplace" />
<form method="post" asp-controller="Quest" asp-action="Index">
    <div class="questArtifact" id="quest_artifact">
        <p><input type="submit" value="Go on quest!"></p>
    </div>
</form>