@model QuestStore_C_of_thieves.Models.User

@{
    var _activeUser = ViewData["activeUser"] as User;
}

@{
    if (_activeUser.UserId == Model.UserId)
    {


    <div class="form-container">
        <section class="section-box">
            <div class="text-box-area">
                <form method="post" onsubmit="return sendForm()">
                    <br /><br />
                    <p id="box-title">Change your secret pirate code!</p><br />
                    <input value="@Model.Password" type="hidden" id="oldpasswordfromDB">
                    <input class="flat-box" type="password" placeholder="Old password" id="oldpassword">
                    <img src="~/img/key.png" class="little-icon" title="Old passsword">
                    <center>
                        <p id="errorOld"></p>
                    </center>
                    <input value="@Model.UserId" asp-for="UserId" type="hidden">
                    <input class="flat-box" type="password" placeholder="New password" id="password" asp-for="Password">
                    <img src="~/img/feather.png" class="little-icon" title="New password">
                    <center>
                        <p id="errorPassword"></p>
                    </center>


                    <input class="flat-box" type="password" placeholder="Repeat new password" id="newpassword">
                    <img src="~/img/feather.png" class="little-icon" title="Repeat new password">
                    <center>
                        <p id="errorNotTheSame"></p>
                    </center>
                    <center><button class="box-button" type="submit" id="button" name="sendButton" asp-controller="User" asp-action="Password">SUBMIT!</button></center>
                    <br /><br />
                </form>
            </div>
        </section>
        <script src="~/js/password.js"></script>
    </div>
    }
    else
    {
        <h1 class="display-4">Arrrrrrr!</h1>
        <p>There's nothing for you to see there!</p>
        <img src="~/img/skull.png" id="wrongplace" />
    }
}
