@{
    ViewData["Title"] = "About";
    var _activeUser = ViewData["activeUser"] as User;
}


<div class="about">
    <div class="card">
        <img src="~/img/jellyfish.png" alt="Scrum Master" id="icon">
        <div class="card-overlay">Adrian Pacholarz</div>
        <div class="container">
            <p id="cardtitle">Scrum Master</p>
            <p id="carddescription"> The Organized Jellyfish</p></a>
        </div>
    </div>

    <div class="card">
        <img src="~/img/crab.png" alt="Product Owner" id="icon">
        <div class="card-overlay">Andrzej Dębowy</div>
        <div class="container">
            <p id="cardtitle">Product Owner</p>
            <p id="carddescription"> The Pincer Owner</p>
        </div>
    </div>

    <div class="card">
        <img src="~/img/oyster.png" alt="Developer #1" id="icon">
        <div class="card-overlay">Dominik Drążek</div>
        <div class="container">
            <p id="cardtitle">Developer #1</p>
            <p id="carddescription"> The Developearl</p>
        </div>
    </div>

    <div class="card">
        <img src="~/img/turtle.png" alt="Developer #2" id="icon">
        <div class="card-overlay">Michał Mijal</div>
        <div class="container">
            <p id="cardtitle">Developer #2</p>
            <p id="carddescription"> The C Turtle </p>
        </div>
    </div>

    <div class="card">
        <img src="~/img/shark.png" alt="Developer #3" id="icon">
        <div class="card-overlay">Aneta Kruc</div>
        <div class="container">
            <p id="cardtitle">Developer #3</p>
            <p id="carddescription"> The CShark </p>
        </div>
    </div>
</div>